.form-control.search {
    width: 450px;
}

.form-control.search-select {
    width: 200px;
}

.content-wrapper {
    margin-left: 0 !important;
    width: 100% !important;
}

.main-header {
    margin-left: 0px !important;
}

.navbar-brand {
    margin-left: 50px;
}