html,
body {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.auth-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-image: url(/images/background.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

.auth-container>.login-container {
    width: 100%;
    height: 65vh;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.08);
    /* optional for separation */
    overflow: hidden;
    /* ensures content doesn't overflow the radius */
}

.auth-container>.login-container>.logo {
    width: 117px;
    height: 104px;
    margin-top: 25px;
}

.auth-container>.login-container>.text {
    font-weight: 200;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #948F93;
    width: 326px;
    height: 36px;
    margin-top: 20px;
}

.input {
    outline: none;
    width: 300px;
    height: 58px;
    border-radius: 50px;
    border: 1px solid #B7B2AC;
    background: #fff;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transition: border 0.2s, box-shadow 0.2s;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 200;
    color: #928477;
}

.input::placeholder {
    font-weight: 200;
    color: #C4BFC3;
}

.input:focus {
    border: 1px solid #948F93;
}

.button {
    border: none;
    width: 305px;
    height: 58px;
    border-radius: 50px;
    background: #928477;
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: white;
}

.register {
    border: none;
    width: 177px;
    height: 33px;
    background: #EBEBEB;
    font-size: 12px;
    margin-bottom: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    color: #948F93;
    justify-content: center;
}

.register>a {
    color: #948F93;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-8px);
    }

    40% {
        transform: translateX(8px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s;
}

.footer {
    position: fixed;
    background: white;
    width: 100%;
    height: 60px;
    bottom: 0;
    border-top: 0.75px solid #CBCBCB;
    z-index: 10;
}

.footer>.list-btn {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer>.list-btn>li {
    display: inline-flex;
}

.footer>.list-btn>li>a {
    display: flex;
    padding: 14px 21px;
    margin: 0px 4px;
    background-color: white;
    color: #928477;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.footer>.list-btn>li>a>.icon {
    width: 21px;
    height: 21px;
    margin-right: 7px;
}

.footer>.list-btn>.active {
    display: inline-flex;
}

.footer>.list-btn>.active>a {
    display: flex;
    padding: 14px 25px;
    margin: 0px 4px;
    background-color: #EBEBEB;
    color: #928477;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

.footer>.list-btn>.active>a>.icon {
    width: 21px;
    height: 21px;
    margin-right: 7px;
}

.main-container {
    padding: 18px 0px;
    width: 357px;
    margin: auto;
}

.main-container>.title {
    font-family: "Prata", serif;
    font-size: 28px;
    font-weight: 300;
}

.main-container>.capsulas-container>.capsulas-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.main-container>.capsulas-container>.capsulas-list>li {
    display: inline-flex;
    width: 357px;
    height: 179px;
    flex-direction: column;
}

.main-container>.capsulas-container>.capsulas-list>li:first-child {
    margin-bottom: 35px;
}

.main-container>.capsulas-container>.capsulas-list>li:not(:first-child) {
    margin: 35px 0px;
}

.main-container>.capsulas-container>.capsulas-list>li>a {
    color: #281E15;
    position: relative;
}

.main-container>.capsulas-container>.capsulas-list>li>a>.image {
    width: 357px;
    height: 179px;
    border-radius: 15px;
}

.attributes>.prod-title {
    font-family: "Prata", serif;
    font-size: 17px;
    color: #281E15;
}

.attributes>.quantity {
    color: #948F93;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.attributes>.right {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.attributes>.right>li {
    display: inline-flex;
    margin: 0px 5px;
}

.attributes>.right>.season-tag {
    background-color: #EBEBEB;
    padding: 4px 10px;
    border-radius: 70px;
    font-size: 11px;
    font-weight: 200;
    color: #948F93;
}

.attributes>.right>.like {
    position: pointer;
    width: 25px;
    height: 22px;
    z-index: 2;
}

.attributes>.right>.like>img {
    width: 25px;
    height: 22px;
}

.space {
    height: 60px;
}

.capsula-container>.title-container>.left {
    float: left;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
}

.capsula-container>.title-container>.left>li {
    display: inline-flex;
    list-style-type: none;
}

.capsula-container>.title-container>.left>.title {
    font-family: "Prata", serif;
    font-size: 28px;
    font-weight: 300;
    flex: 1;
    min-width: 0;
    word-break: break-word;
    white-space: normal;
    width: 220px;
}

.capsula-container>.title-container>.left>.season-tag {
    background-color: #EBEBEB;
    height: 20px;
    width: 83px;
    margin-left: 8px;
    border-radius: 70px;
    font-size: 11px;
    color: #948F93;
    align-items: center;
    overflow: auto;
    font-weight: 200;
    justify-content: center;
}

.capsula-container>.title-container>.left>.like {
    width: 35px;
    height: 31px;
    margin-left: 8px;
}

.capsula-container>.image-container {
    width: 357px;
    height: 179px;
    border-radius: 15px;
    margin-top: 20px;
}

.capsula-container>.description {
    font-family: "Inter", sans-serif;
    font-family: Inter;
    font-weight: 200;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #948F93;
    margin-top: 5px;
    text-align: justify;
}

.outfits-container>.head {
    margin-top: 20px;
}

.head>.left {
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.head>.left>li {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.head>.left>.title {
    font-size: 24px;
    font-family: "Prata", serif;
    font-weight: 300;
}

.head>.left>.quantity {
    height: 20px;
    width: 20px;
    background-color: #EBEBEB;
    border-radius: 9999px;
    font-size: 12px;
    color: #948F93;
    font-weight: 200;
    margin-left: 10px;
}

.outfits-container>.outfits-list {
    clear: both;
    display: block;
    margin: 0;
    padding: 15px 0px;
}

.outfits-container>.outfits-list>li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 5.5px;
}

.outfits-list>li>a {
    width: 165px;
}

.outfits-list>li>a>.image {
    width: 165px;
    height: 165x;
    border-radius: 15px;
}

.outfits-list>li>a>.attributes {
    margin-top: 3px;
}

.outfits-list>li>a>.attributes>.title {
    font-family: "Prata", serif;
    color: #281E15;
    font-size: 18px;
}

.outfits-list>li>a>.attributes>.season-label {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    color: #A29487;
    font-weight: 200;
}

.outfits-list>li>a>.attributes>.like {
    float: right;
    width: 25px;
    height: 22px;
    position: pointer;
    margin-top: -15px;
}

.outfits-list>li>a>.attributes>.like>img {
    width: 25px;
    height: 22px;
}

.dropdown-container {
    padding-top: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    clear: both;
}

.custom-dropdown {
    position: relative;
    width: 140px;
    background: #f0f0f0;
    border-radius: 9999px;
    cursor: pointer;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: 200;
    color: #6f6f6f;
    user-select: none;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.dropdown-options div {
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-family: "Inter", sans-serif;
}

.dropdown-options div:hover {
    background: #f0f0f0;
}

.custom-dropdown.open .dropdown-options {
    display: block;
    font-family: "Inter", sans-serif;
}

.arrow {
    float: right;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.custom-dropdown.open .arrow {
    transform: rotate(180deg);
}

.outfit-container>.title-container>.left {
    float: left;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
}

.outfit-container>.title-container>.left>li {
    display: inline-flex;
    list-style-type: none;
}

.outfit-container>.title-container>.left>.title {
    font-family: "Prata", serif;
    font-size: 28px;
    font-weight: 300;
    flex: 1;
    min-width: 0;
    word-break: break-word;
    white-space: normal;
    width: 300px;
}

.outfit-container>.title-container>.left>.like {
    width: 35px;
    height: 31px;
    margin-left: 20px;
}

.outfit-container>.img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    float: right;
}

.outfit-container>.information {
    float: left;
    width: 140px;
}

.outfit-container>.information>.labels {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.outfit-container>.information>.labels>li {
    display: inline-flex;
    background-color: #EBEBEB;
    padding: 4px 10px;
    border-radius: 70px;
    font-size: 10px;
    font-weight: 200;
    color: #948F93;
    margin: 3px 3px;
}

.outfit-container>.information>.description {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #948F93;
    margin-top: 5px;
    text-align: justify;
}

.outfit-container>.information>.store {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #948F93;
    margin-top: 10px;
}

.outfit-container>.information>.store-btn {
    margin-top: 11px;
    width: 90px;
    height: 30px;
    border-radius: 70px;
    background-color: #928477;
    color: white;
    font-size: 12px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.inline-space {
    height: 20px;
    clear: both;
}

.item-list {
    clear: both;
    display: block;
    margin: 0;
    padding: 8px 0px;
}

.item-list>li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 5.5px;
}

.item-list>li>a {
    width: 165px;
}

.item-list>li>a>.image-container {
    position: relative;
    display: inline-block;
    width: 165px;
    height: 165x;
}

.item-list>li>a>.image-container>.item-image {
    display: block;
    border-radius: 12px;
    width: 165px;
    height: 165x;
}

.item-list>li>a>.image-container>.heart-on-image {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 22px;
    cursor: pointer;
    z-index: 2;
    padding: 4px;
    box-sizing: content-box;
}

.item-list>li>a>.attributes {
    margin-top: 3px;
}

.item-list>li>a>.attributes>.title {
    width: 165px;
    font-family: "Prata", serif;
    color: #281E15;
    word-break: break-word;
    font-size: 15px;
}

.item-list>li>a>.attributes>.label {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    color: #A29487;
    font-weight: 200;
    display: block;
}

.item-list>li>a>.attributes>.store-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-list>li>a>.attributes>.store-inf>.store {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    color: #A29487;
    font-weight: 200;
    display: inline-flex;
    width: 100px;
}

.item-list>li>a>.attributes>.store-inf>.store>.store-name {
    display: inline-flex;
    align-items: center;
    font-size: 9px;
    white-space: nowrap;
    width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-inf>.store-btn {
    float: right;
    width: 64px;
    height: 24px;
    border-radius: 70px;
    background-color: #928477;
    color: white;
    font-size: 10px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.head-inline-item {
    display: flex;
    align-items: center;
}

.head-inline-item>.left {
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.head-inline-itemd>.left>li {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.head-inline-item>.left>.title {
    font-size: 24px;
    font-family: "Prata", serif;
    font-weight: 300;
}

.head-inline-item>.left>.quantity {
    height: 20px;
    width: 20px;
    background-color: #EBEBEB;
    border-radius: 9999px;
    font-size: 12px;
    color: #948F93;
    font-weight: 200;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.head-inline-item>.right {
    margin-left: auto;
    display: flex;
}

.head-inline-item>.right>li {
    font-size: 12px;
}

.head-inline-item>.right>li>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;
    padding: 0px 3px;
    width: 70px;
    height: 26px;
    color: #948F93;
}

.head-inline-item>.right>li:first-child>a {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}

.head-inline-item>.right>li:last-child>a {
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

.head-inline-item>.right>.active>a {
    background-color: #928477;
    color: white;
}

.outfits-container,
.capsulas-container,
.item-container {
    transition: opacity 0.4s, visibility 0.4s;
    opacity: 1;
    visibility: visible;
    position: relative;
}

.tab-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
}

.likes-inline-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.likes-inline-item>.left {
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.likes-inline-item>.left>li {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.likes-inline-item>.left>.title {
    font-size: 24px;
    font-family: "Prata", serif;
    font-weight: 300;
}

.likes-inline-item>.left>.quantity {
    height: 20px;
    width: 20px;
    background-color: #EBEBEB;
    border-radius: 9999px;
    font-size: 12px;
    color: #948F93;
    font-weight: 200;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.likes-inline-item>.right {
    display: flex;
    margin-top: 13px;
}

.likes-inline-item>.right>li {
    font-size: 12px;
}

.likes-inline-item>.right>li>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;
    padding: 0px 3px;
    width: 111px;
    height: 26px;
    color: #948F93;
}

.likes-inline-item>.right>li:first-child>a {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}

.likes-inline-item>.right>li:last-child>a {
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}

.likes-inline-item>.right>.active>a {
    background-color: #928477;
    color: white;
}

.loading {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.profile-container>.profile-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.profile-container>.profile-heading>li {
    display: inline-flex;
}

.profile-container>.profile-heading>.username {
    font-size: 17px;
    font-weight: 300;
    width: 230px;
    margin-left: 9px;
    white-space: normal;
    overflow-wrap: anywhere;

}

.profile-container>.profile-heading>.title-page {
    font-size: 17px;
    font-weight: 300;
    width: 230px;
    margin-left: 9px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.profile-container>.profile-heading>.spisok>a {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #928477;
    width: 118px;
    height: 33px;
    border-radius: 9999px;
    color: white;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 9px;
    align-items: center;
    align-content: center;
}

.profile-container>.profile-img {
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.profile-container>.profile-img>.profile-img-source {
    background-color: #D9D9D9;
    height: 137px;
    width: 137px;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}

.profile-container>.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px 10px;
}

.profile-container>.menu-options>li {
    display: inline-flex;
}

.profile-container>.menu-options>li>a {
    color: black;
    width: 337px;
    height: 40px;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #D9D9D9;
    margin: 4px 0px;
    padding-bottom: -7px;
    font-weight: 300;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

.profile-container>.menu-options>.logout>a {
    color: #928477;
    -webkit-tap-highlight-color: transparent;
}

.profile-container>.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px 10px;
}

.profile-container>.user-form>.user-input {
    outline: none;
    height: 25px;
    border: 1px solid #B7B2AC;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #281E15;
}

.profile-container>.user-form>.user-input-long {
    outline: none;
    height: 100px;
    border: 1px solid #B7B2AC;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #281E15;
    resize: none;
}

.profile-container>.user-form>.invalid {
    border: 1px solid red;
}


.profile-container>.user-form>.user-label {
    font-size: 12px;
    color: #928477;
    font-weight: 200;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.profile-container>.user-form>.user-label:first-child {
    margin-top: 0px;
}

.radio {
    display: flex;
    margin: 2px 5px;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.radio>input[type="radio"] {
    accent-color: #8B7E74;
    width: 14px;
    height: 14px;
    -webkit-tap-highlight-color: transparent;
}

.radio>label {
    font-size: 14px;
    font-weight: 300;
    color: #281E15;
    margin-left: 4px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.checkbox {
    display: flex;
    margin: 2px 5px;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.checkbox>input[type="checkbox"] {
    accent-color: #8B7E74;
    width: 14px;
    height: 14px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.checkbox>label {
    font-size: 14px;
    font-weight: 300;
    color: #281E15;
    margin-left: 4px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.profile-container>.user-form>.user-submit {
    outline: none;
    border: none;
    width: 100%;
    height: 49px;
    color: white;
    background-color: #928477;
    border-radius: 999px;
    margin: 24px 0px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.upload-container {
    margin-top: 40px;
}

.upload-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    flex-direction: row;
    justify-content: center;
}

.image-item {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-rectangle {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #D9D9D9;
    -webkit-tap-highlight-color: transparent;
}

.upload-rectangle p {
    font-weight: 300;
    font-size: 16px;
    color: #928477;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.upload {
    outline: none;
    border: none;
    width: 100%;
    height: 49px;
    color: white;
    background-color: #928477;
    border-radius: 999px;
    margin: 24px 0px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: transparent;
}